<h2>Quizzes</h2>
<ul class="list-group">
  <li *ngFor="let quiz of quizzes" class="list-group-item list-group-item-warning">
    <a class="orange" routerLink="/courses/{{courseId}}/quizzes/{{quiz._id}}">
      {{quiz.title}}
    </a>
    <a class="btn orangeButton float-right"
       routerLink="/courses/{{courseId}}/quizzes/{{quiz._id}}">
      Start
    </a>
  </li>
</ul>

<h2> Attempts</h2>

<ul class="mt-2 list-group">
  <li *ngFor="let attempt of attempts" class="col-6 list-group-item list-group-item-success">
    <span class="col-3">
      {{attempt.quiz.title}}
    </span>
      <span class="col-3 float-right">
        {{attempt.score}}
      </span>


  </li>
</ul>
